<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.arturborowy.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".simple.SimpleExampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".selector.ExampleSelectorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".examples.recyclerview.base.BaseRecyclerAdapterExampleActivity" />

        <activity android:name=".examples.recyclerview.clickable.ClickableViewRecyclerAdapterExampleActivity" />

        <activity android:name=".examples.recyclerview.wholeviewclickable.WholeViewClickableRecyclerAdapterExampleActivity" />

        <activity android:name=".examples.gridview.base.BaseGridViewAdapterExampleActivity" />

        <activity android:name=".examples.gridview.clickable.ClickableViewGridViewAdapterExampleActivity" />

        <activity android:name=".examples.gridview.wholeviewclickable.WholeViewClickableGridViewAdapterExampleActivity" />

    </application>

</manifest>